<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../vue.global.js"></script>
</head>

<body>
    <div id="app">
        <input type="radio" v-model="val" value="吃饭"> 吃饭
        <input type="radio" v-model="val" value="睡觉"> 睡觉
        <h1>{{ val }}</h1>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    val: ""
                }
            }
        }).mount("#app")
    </script>
</body>

</html>